* {
    font-family:  Source Sans Pro,sans-serif;
}
body {
    background-image: url('./Object.png');
    background-repeat: no-repeat;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    
}
.navigations {
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
    list-style: none;
    text-decoration: none;
   
    
}
.logo {
    width: 8rem;
    height: 2rem;
    margin-left: 8rem;
    margin-top: 1rem;
    filter: none;
}
.nav-links {
    color: aliceblue;
    text-decoration: none;
    font-size: small;
}
.intro {
   text-align: center;
    display: flexbox;
    margin-top: 12rem;

}
.main-title {
    color: aliceblue;
    font-size: 6rem;
    font-weight: bold;
}
.smile-classes {
    color: aliceblue;
    margin-right: 5rem;
    
    
}
span {
    margin-left: 5rem;
    font-weight: bold;
}
.register-btn {
    margin-top: 2rem;
    background-color: rgb(165, 97, 224);
    height: 44px;
    width: 162px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    border: none;
}
.mentor-header {
    text-align: center;
    color: aliceblue;
    margin-top: 8rem;
}
.emphasize {
    color: rgb(191, 128, 180);
    font-weight: bolder ;
}
.mentors {
    display: flex;
    justify-content: space-evenly;

}
.mentor-text {
    color: aliceblue;
    text-align: center;
}
.rounding {
    border-radius: 50%;
    object-fit: cover;
}
.comment {
    display: flex;
    width: 1440px;
    height: 392px;
    background-color: #C271FF;
    justify-content:center;
    color: white;
    
}
.image {
    margin-top: 5rem;
}
.commenter {
    margin-top: 5rem;
    text-align: left;
}
.weather-presenter {
    margin-left: 2.8rem;
}
.tutorials {
    display: flex;
    justify-content: space-evenly;
    
}
.play {
    position: relative;
    left: 90px;
    top: -99px;
    width: 64px;
    height: 64px;

    
}
.tutorial-title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.video {
    width: 255px;
    height: 335px;
   margin: 30px;
}
.video > h3 {
    font-weight: 700;
    font-size: 16px;
}
h3 + p {
   font-weight: 400;
   font-size: 14px;
}
.smallest-pic {
    display: flex;
   
   
}
.smallest-pic > img {
    width: 30px;
    height: 30px;
}
.smallest-pic > h4 {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    left: 5px;
    bottom: 11px;
    color: #C271FF;
    margin-bottom: 5px;
}
.rating-min {
    display: flex;
    justify-content: space-between;
}
.rating-min > div {
    display: flex;
    width: 86px;
    height: 27px;
    color: #C271FF;
}
.rating-min > p {
    position: relative;
    right: 15px;
    margin-top: auto;
    font-weight: 600;
    font-size: 14px;
    color: #C271FF;
}
.last-star {
    color: #D8D8D8;
}
.all-info-video {
   position: relative;
   top: -70px;
   margin-left: 20px;
    
}
.membership {
    display: flex;
    
    margin-top: 150px;
    justify-content: space-evenly;
    
}
.membership-section {
    height: 502px;
    background-color: #071629;  
    text-align: center;
    color: white;
}
.membership-title {
   margin-top: 40px;
   margin-bottom: 0;
   
}
.smile-faces {
    width: 257px;
    height: 153px;
}
.smile-faces > h3 {
    
    font-weight: 600;
    font-size: 18px;

}
.smile-faces > p {
        font-weight: 400;
        font-size: 14px;
       
}
.btn-membership {
    
}