body, main {
    display: flex
}
body {
    flex-direction: column;
}
main {
    flex-direction: row;
    flex:auto;
    border: 5px;
    border-color: blue;
}
article {
    flex: 2;
    overflow-y: auto;
    color: rgb(196, 90, 90);
}
aside {
    overflow-y: auto;
    background-color: rgb(86, 187, 187);
    flex: 1;
}
